.root {
  width: calc(100% / 4 - 8px);
  padding: 25px 20px;
  border-radius: 4px;
  background-color: white;

  &.block {
    .top {
      border-bottom: 3px solid #ff6c65;
      .circle {
        background-color: #ff6c65;
      }
    }
  }
  &.onprogress {
    .top {
      border-bottom: 3px solid #ffa500;
      .circle {
        background-color: #ffa500;
      }
    }
  }
  &.done {
    .top {
      border-bottom: 3px solid #68b266;
      .circle {
        background-color: #68b266;
      }
    }
  }

  .top {
    display: flex;
    align-items: center;
    gap: 7.5px;
    padding-bottom: 22px;
    border-bottom: 3px solid #973fcf;
    .circle {
      width: 7.5px;
      height: 7.5px;
      border-radius: 50%;
      background-color: #973fcf;
    }
    h3 {
      font-size: 14.93px;
      font-weight: 700;
      line-height: 18.07px;
    }
    .count {
      background-color: #e0e0e0;
      color: #625f6d;
      font-size: 11.2px;
      font-weight: 500;
      line-height: 13.55px;
      width: 18.5px;
      height: 18.5px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .body {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
}
